<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="new" menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
    <ion-button
      id="open-toast"
      color="new"
      slot="end"
      fill="clear"
      (click)="onLogout()"
    >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ionContentData" color="new" [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="new-rgb">
      <ion-searchbar
        class="ionSearchBar"
        search-icon="search-circle"
        placeholder="Buscar"
        (click)="goSearch()"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <!-- Botón Nueva Tarea -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="ionButtonNewTask" (click)="goTaskForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Filtro por estado -->
  <ion-list class="ionListFilter">
    <ion-item class="ionItemFilter">
      <ion-select
        [(ngModel)]="selectedState"
        (ionChange)="filterTasks($event)"
        justify="end"
        placeholder="Filtro por estado"
        interface="popover"
      >
        <ion-select-option value="Todas">Todas</ion-select-option>
        <ion-select-option value="Pendiente">Pendiente</ion-select-option>
        <ion-select-option value="En Progreso">En Progreso</ion-select-option>
        <ion-select-option value="Finalizada">Finalizada</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- Mensaje en caso de ser vacío -->
  <ion-card-content class="notFound-message" *ngIf="notFoundMessage">
    <ion-text>
      <p>{{ notFoundMessage }}</p>
    </ion-text>
  </ion-card-content>

  <!-- Tabla -->
  <app-task-table [tasks]="tasks"></app-task-table>
</ion-content>
