<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="new" menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ionContentData" color="new" [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="new-rgb">
      <ion-searchbar
        class="ionSearchBar"
        search-icon="search-circle"
        placeholder="Buscar"
        (click)="goSearch()"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <!-- Botón Nueva Tarea -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goTaskForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Tabla -->
  <app-task-table [tasks]="tasks"></app-task-table>
</ion-content>
