.notFound-message {
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  --background-color: var(--ion-color-new-shade);
  color: black;
  background-color: var(--background-color);
}

.ionSpinner {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--ion-color-new-constrast-rgb);
}
