<!-- <ion-list>
  <ion-item *ngFor="let task of tasks" (click)="goTaskForm(task.id)">
    <ion-label>
      <h2>{{ task.title }}</h2>
      <p>{{ task.description }}</p>
    </ion-label>
  </ion-item>
</ion-list> -->

<ion-card class="ionCardContent" *ngFor="let task of tasks" (click)="goTaskForm(task.id)">
  <ion-card-header>
    <ion-card-title>{{ task.title }}</ion-card-title>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
  </ion-card-header>

  <ion-card-content>
    {{ task.description }}
  </ion-card-content>
</ion-card>
