<ion-grid class="ionTasksContent">
  <ion-row class="ionTasksRow">
    <ion-col size="6" *ngFor="let task of tasks">
      <ion-card class="ionCardContent" (click)="goTaskForm(task.id)">
        <hr class="hrCard" />
        <ion-card-header class="ionCardHeader">
          <ion-card-title class="ionCardTitle"
            >{{ task.title | slice : 0 : 20 }}...</ion-card-title
          >
        </ion-card-header>

        <ion-card-content class="ionCardDescription">
          {{ task.description | slice : 0 : 61 }}...
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
